* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:source code pro, Roboto, Helvetica, Arial;
    font-size: 13px;
}

window#waybar {
    background-color: #282a36;
    border-bottom: 3px solid #6272a4;
    color: #f8f8f2;
    transition-property: background-color; 
    transition-duration: .025s; 
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

    window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    border-radius: 5;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
}

#workspaces button {
	padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
	padding-bottom: 2px;
    background-color: transparent;
    color: #f8f8f2;
}

#workspaces button:hover {
	padding-top: 0px;
	padding-bottom: 0px;
    border-radius: 5px;
    border-bottom: 3px solid #6272a4;
    background-color: #44475a;
}

#workspaces button.focused {
	padding-top: 0px;
	padding-bottom: 0px;
    background-color: #44475a;
    border-radius: 5px;
    border-bottom: 3px solid #bd93f9;
}

#workspaces button.urgent {
	padding-top: 2px;
	padding-bottom: 0px;
    color: #ff5555;
    border-radius: 5px;
    border-bottom: 3px solid #ff5555;
}

#workspaces button.visible {
    padding-top: 2px;
	padding-bottom: 0px;
    border-radius: 5px;
    border-bottom: 3px solid #bd93f9;

}

#mode {
    background-color: #44475a;
    border-bottom: 3px solid #ff5555;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#custom-power-menu,
#mpd {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #ffffff;
    border-radius: 5px;
    border-bottom: 3px solid #6272a4;
    background-color: #44475a;
}

#window,
#workspaces {
    margin: 0 4px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	padding-top: 6px;
	padding-bottom: 4px;
    background-color: #44475a;
    color: #f8f8f2;

}

#battery {
    background-color: #44475a;
    color: #f8f8f2;
    margin-right: 0px;
}

#battery.charging, #battery.plugged {
    color: #50fa7b;
    background-color: #44475a;
    border-bottom: 3px solid #50fa7b;
}

@keyframes blink {
    to {
        background-color: #44475a;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #44475a;
    color: #ff5555;
    border-bottom: 3px solid #ff5555;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #44475a;
    color: #f8f8f2;
}

#memory {
    background-color: #44475a;
}

#disk {
    background-color:#44475a;
}

#backlight {
    background-color: #44475a;
}

#network {
    background-color: #44475a;
    color: #f8f8f2;
}

#network.disconnected {
    background-color: #44475a;
    color: #8be9fd;
    border-bottom: 3px solid #8be9fd;
}

#pulseaudio {
    background-color: #44475a;
    color: #f8f8f2;
}

#pulseaudio.muted {
    background-color: #44475a;
    color: #bd93f9;
    border-bottom: 3px solid #bd93f9;
}

#wireplumber {
    background-color: #44475a;
    color: #f8f8f2;
}

#wireplumber.muted {
    background-color: #44475a;
}

#custom-media {
    background-color: #44475a;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #44475a;
}

#custom-media.custom-vlc {
    background-color: #44475a;
}

#temperature {
    background-color: #44475a;
}

#temperature.critical {
    background-color: #44475a;
}

#tray {
    background-color: #44475a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff5555;
}

#idle_inhibitor {
    background-color: #44475a;
    color: #f8f8f2;
}

#idle_inhibitor.activated {
    background-color: #44475a;
    color: #ff79c6;
    border-bottom: 3px solid #ff79c6;
}

#mpd {
    background-color: #44475a;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #44475a;
}

#mpd.stopped {
    background-color: #44475a;
}

#mpd.paused {
    background-color: #44475a;
}

#language {
    background: #44475a;
    color: #f8f8f2;
    min-width: 16px;
}

#keyboard-state {
    background: #44475a;
    color: #f8f8f2;
    min-width: 16px;
    padding: 0 5px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: #44475a;
}

#scratchpad {
    background: #44475a;
}

#scratchpad.empty {
	background-color: transparent;
}


#custom-power-menu {
    margin-right: 7px;
}
